.add_car_container {
  display: flex;
  flex-direction: column;
}

.add_car_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.car_form_container {
  width: 90%;
  padding: 0 17px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.add_car_button {
  padding: 6px 12px;
}

.add_car_form_wrapper {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
}

.first_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second_wrapper {
  display: flex;
  justify-content: center;
}

.second_wrapper label {
  width: 50%;
}

.second_wrapper input {
  width: 60px;
}

.add_car_form_wrapper label {
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* border: 1px solid red; */
}

.add_car_form_wrapper input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.third_wrapper {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
}

.add_car_form_wrapper textarea {
  padding: 8px 12px;
  border: 1px solid #ddd;
  margin-top: 0.5rem;
  border-radius: 5px;
}

.car_form_container h2 {
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 2rem;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.cancel_btn {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 25px;
  text-transform: uppercase;
  margin: 20px auto;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: #fff;
}

.cancel_btn:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px 0 0 var(--primary-hover);
  transform: translate(-2.5px, -2.5px);
}

@media screen and (min-width: 768px) {
  .car_form_container {
    width: 50%;
  }
}
