.car_form_container {
    padding: 0 17px;
}

.add_car_button {
    padding: 6px 12px;
}

.add_car_form_wrapper {
    display: flex;
    flex-direction: column;
}

.add_car_form_wrapper label {
    display: flex;
    flex-direction: column;   
}

.add_car_form_wrapper input {
    padding: 6px 12px;
}

.ratings_and_photo_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}