body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-logo {
  width: 270px;
  margin-bottom: 30px;
}

.header-logo-img {
  width: 100%;
  height: 100%;
}

.header-book-btn-space {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.body-header {
  background-image: url(../assets/first-background-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.header-book-btn {
  padding: 16px 18px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 2px rgba(255, 255, 255, 0.296);
  background-color: var(--primary-color);
}

.header-book-btn:hover {
  box-shadow: none;
  cursor: pointer;
  transform: translateY(-2px);
}

@media only screen and (min-width: 768px) {
  .header-logo {
    width: 400px;
  }

  .header-title {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .header-logo {
    width: 500px;
  }

  .header-title {
    font-size: 2rem;
  }
}
