body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.header-book-btn-space {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.body-header {
  background-image: url(../assets/first-background-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-title {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}

.header-book-btn {
  padding: 12px 14px;
  border-radius: 10px;
  box-shadow: 4px 4px 5px 2px rgba(255, 255, 255, 0.296);
  border: 5px solid var(--primary-color);
  background-color: var(--primary-color);
}

.header-book-btn:hover {
  box-shadow: none;
  cursor: pointer;
  transform: translateY(-2px);
}

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 20px;
  }

  .body {
    background-image: none;
    background-color: var(--primary-color);
  }
}
