#detail {
  position: relative;
}

.header {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: #fff;
}

.title {
  text-align: center;
  margin: 0;
  padding: 19.2px 0;
  font-size: 1.15rem;
  font-weight: 500;;
}

.back-btn {
  position: absolute;
  left: 10px;
  top: 16px;
  font-size: 1.8rem;
  color: var(--secondary-color);
}

.back-btn:hover {
  cursor: pointer;
}

.success {
  text-align: center;
  color: var(--green-color);
  padding: 5px 0;
}

.error {
  text-align: center;
  color: var(--red-color);
  padding: 5px 0;
}

.detail-container {
  width: 88%;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.banner {
  width: 100%;
  height: 170px;
  background-color: var(--primary-color);
  position: relative;
}

.banner-text {
  display: none;
}

.img-container {
  width: 220px;
  height: auto;
  position: absolute;
  top: 36%;
  right: 50%;
  transform: translateX(50%);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: var(--secondary-color);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.user-icon {
  font-size: 2.5rem;
  padding: 8px;
  color: var(--star-color);
  background-color: #fff;
  border: 2px solid var(--star-color);
  border-radius: 50%;
}

.rating p {
  margin: 3px 0;
}

.star {
  font-size: 1rem;
}

.fill {
  color: var(--star-color);
}

.price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.8rem;
}

.price p {
  margin: 0;
  line-height: 1.1;
}

.price p:first-child {
  font-size: 1.2rem;
}

.features {
  width: 100%;
  padding: 8px 0 8px 40px;
  border-radius: 50px;
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4px;
  color: var(--secondary-color);
  background-color: #fff;
}

.feature {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;
}

.feature span:first-child {
  font-size: 1.1rem;
}

.about-container {
  width: 100%;
}

.about {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.description {
  font-size: 0.9rem;
  color: #6b6b6b;
}

.reserve-btn {
  width: 100%;
  padding: 15px 0;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--primary-color);
}

@media screen and (min-width: 992px) {
  .back-btn {
    top: 14px;
    font-size: 2rem;
  }

  .detail-container {
    width: 80%;
  }

  .banner {
    height: 220px;
    margin-bottom: 80px;
  }

  .banner-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
  }
  
  .banner-text p:first-child {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .img-container {
    width: 450px;
    top: 10%;
    right: 50px;
    transform: translateX(0);
  }

  .features {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding-left: 0;
  }

  .feature {
    font-size: 0.95rem;
  }

  .feature span:first-child {
    font-size: 1.25rem;
  }

  .reserve-container {
    display: flex;
    justify-content: center;
  }

  .reserve-btn {
    width: fit-content;
    padding: 10px 35px;
    margin-bottom: 30px;
  }
  
  .reserve-btn:hover {
    cursor: pointer;
    box-shadow: 2.5px 2.5px 0 0 var(--primary-hover);
    transform: translate(-2.5px, -2.5px);
  }
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 1.3rem;
    padding: 18px 0;
  }

  .back-btn {
    left: 15px;
    top: 13px;
    font-size: 2.2rem;
  }

  .detail-container {
    width: 70%;
  }

  .banner-text {
    left: 6%;
    font-size: 1.1rem;
  }

  .banner-text p:first-child {
    font-size: 2rem;
  }

  .rating {
    font-size: 1.2rem;
  }

  .price p {
    font-size: 1rem;
  }

  .price p:first-child {
    font-size: 1.5rem;
  }

  .about {
    font-size: 1.15rem;
  }

  .description {
    font-size: 1rem;
  }
}
