:root {
  --primary-color: #dc143c;
  --primary-hover: #cc0a31;
  --secondary-color: #3b3333;
  --text-color: #6b6b6b;
  --background-color: #f0f0f0;
  --star-color: #eea929;
  --red-color: #ee2929;
  --green-color: #00e908;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.page_container {
  width: 100%;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: #000;
}

.success {
  text-align: center;
  color: var(--green-color);
  padding: 8px 0;
}

.error {
  text-align: center;
  color: var(--red-color);
  padding: 8px 0;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  padding-top: 3rem;
  color: var(--primary-color);
}

.main-banner {
  position: relative;
  width: 100%;
  height: 200px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner-text {
  width: 100%;
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #fff;
}

.main-banner-text .heading {
  padding-top: 0;
  color: #fff;
  font-size: 1.2rem;
}

.search-form {
  width: 90%;
  display: flex;
  justify-content: center;
}

.search {
  width: 100%;
  max-width: 350px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 0;
  background-color: #fff;
}

.search-btn {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 10px 25px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
}

.search-btn:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px 0 0 var(--primary-hover);
  transform: translate(-2.5px, -2.5px);
}

.main-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  position: relative;
  margin-top: 2rem;
  padding-bottom: 6.7rem;
  gap: 1.5rem;
}

.car-container {
  width: 90%;
  height: 290px;
  background-color: #fff;
  box-shadow: 0 0 30px 0px #bbbbbb4b;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 270px;
  height: 165px;
  margin-top: 5px;
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.right {
  font-size: 1rem;
  text-align: right;
  line-height: 1.1;
}

.btn {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px 25px;
  text-transform: uppercase;
  margin: 20px auto;
  border: none;
  color: #fff;
  background-color: var(--primary-color);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 2.5px 2.5px 0 0 var(--primary-hover);
  transform: translate(-2.5px, -2.5px);
}

.arrow-btn {
  position: absolute;
  top: 96%;
  transform: translateY(-50%);
  height: 80px;
  width: 80px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.prev-btn:hover .arrow {
  transform: translateX(-4px);
}

.next-btn {
  right: 0;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}

.next-btn:hover .arrow {
  transform: translateX(4px);
}

.disabled {
  mix-blend-mode: multiply;
  background-color: #a8a8a8;
}

.star {
  font-size: 20px;
  color: var(--star-color);
}

.delete-icon {
  font-size: 1rem;
  margin-right: 2.5px;
  transform: translateY(3px);
}

.back-to-main-link {
  position: absolute;
  left: 25px;
  top: 13.5px;
  font-size: 1.4rem;
}

@media (min-width: 425px) {
  .main-banner-text .heading {
    font-size: 1.3rem;
  }

  .search-form {
    width: 85%;
  }

  .car-container {
    width: 85%;
  }
}

@media (min-width: 480px) {
  .main-banner-text .heading {
    font-size: 1.4rem;
  }

  .search-form {
    width: 80%;
  }

  .car-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.7rem;
  }

  .main-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0 2rem 6.7rem 2rem;
  }

  .car-container {
    width: 100%;
  }

  .arrow-btn {
    top: 92.5%;
  }
}

@media (min-width: 1024px) {
  .main-banner-text .heading {
    font-size: 1.7rem;
  }

  .main-container {
    padding: 2rem 5.5rem;
    margin-top: 0;
  }

  .main-banner {
    height: 250px;
  }

  .banner-img {
    object-position: top;
  }

  .main-banner-text {
    top: 35%;
    gap: 20px;
  }

  .search {
    max-width: 400px;
  }

  .arrow-btn {
    top: 50%;
  }
}

@media (min-width: 1200px)  {
  .main-container {
    padding: 2rem 8rem;
    gap: 2.5rem;
  }

  .car-container {
    height: 315px;
  }

  .image {
    width: 300px;
    height: 190px;
    margin-top: 5px;
  }

  .car-details {
    padding: 0 3rem;
  }
}

@media (min-width: 1400px) {
  .main-container {
    padding: 2rem 10rem;
    gap: 3rem;
  }

  .main-banner {
    height: 270px;
  }

  .banner-img {
    object-position: center;
  }

  .car-container {
    height: 345px;
  }

  .image {
    height: 200px;
    margin-top: 15px;
  }

  .car-details {
    padding: 0 5rem;
  }

  .btn {
    padding: 12px 30px;
    font-size: 1rem;
  }
}
