nav {
  top: 0;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.hamburger_menu {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 1rem;
}

.hamburger_menu:hover {
  cursor: pointer;
}

.line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger_menu.active .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
  z-index: 100;
}

.hamburger_menu.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger_menu.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
  z-index: 100;
}

.nav-logo {
  width: 170px;
}

.nav-logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  gap: 1rem;
}

.ver-line {
  width: 1.5px;
  height: 23px;
  background-color: #fff;
}

.nav-link {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: inline-block;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

ul li {
  list-style: none;
}

.nav_menu {
  width: 50%;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  position: fixed;
  text-align: start;
  top: 0;
  padding: 70px 0px;
  left: -100%;
  z-index: 10;
  transition: 0.3s;
}

.nav_menu.active {
  left: 0;
}

.logo {
  width: 140px;
  margin: 0px auto 25px auto;
}

.logo-img {
  width: 100%;
}

.menu_links_wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  color: var(--secondary-color);
}

.menu_link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
}

.activeLink {
  background-color: var(--primary-hover);
  box-shadow: inset 0px 0.5px 0px 0.5px #ae0829;
}

.menu_link:hover {
  background-color: var(--primary-hover);
}

.nav-icon {
  font-size: 1.3rem;
  margin: 0 10px;
}

.nav-line {
  width: 90%;
  height: 1px;
  margin: 8px 0;
  background-color: #fff;
}

.nav-footer {
  color: #ddd;
  font-size: 0.85rem;
  line-height: 1.5;
  margin-left: 10px;
}

.nav-info {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.nav-info-icon {
  font-size: 0.9rem;
  color: #d6d6d6;
}

.nav-info-icon:hover {
  color: #fff;
}

.sign_out_button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 0 18px 0;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  background-color: var(--primary-hover);
}

.sign_out_button:hover {
  background-color: var(--red-color);
}

.signout-icon {
  font-size: 1.3rem;
  transform: translateY(5px);
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .nav_menu {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .nav-links {
    gap: 1.5rem;
  }

  .ver-line {
    width: 1.8px;
    height: 27px;
  }

  .nav-link {
    font-size: 1.1rem;
  }

  .nav_menu {
    width: 17%;
  }

  .menu_link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1400px) {
  .logo {
    width: 180px;
  }

  .nav_menu {
    width: 16%;
  }
}
