.sign-up-form {
    padding-top: 4rem;
    /* background-image: url(../assets/carrental.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sign-up-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .name-input,
  .password-confirmation-input {
    width: 300px;
    height: 35px;
    margin: 10px;
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-left: 5px;
    border: 5px solid #ee5029;
  }
  
  .sign-up-title {
    color: white;
  }
  
  .sign-up-button {
    border: none;
    margin-bottom: 10px;
    background-color: white;
    height: 45px;
    width: 100px;
    border-radius: 25px;
    color: #ee5029;
  }
  
  .sign-in-btn {
    text-decoration: none;
    padding: 10px;
    background-color: #ee5029;
    border-radius: 25px;
    border: 3px solid #ee5029;
    color: white;
  }
  
  .session-buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
  }
  
  @media only screen and (max-width: 600px) {
    .sign-up-title {
      font-size: 20px;
      margin: 0 2rem;
    }
  
    .sign-up-form {
      padding-top: 5rem;
      background-image: none;
      background-color: #ee5029;
    }
  }