.sign-in-form {
  padding-top: 9rem;
  background-image: url(../assets/second-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.sign-in-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.email-input,
.password-input {
  width: 300px;
  height: 35px;
  margin: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-left: 5px;
  border: 5px solid var(--primary-color);
}

.sign-in-button {
  margin: 20px;
  background-color: white;
  height: 45px;
  width: 120px;
  border-radius: 25px;
  color: var(--primary-color);
  border: 5px solid var(--primary-color);
}

.sign-in-button:hover {
  cursor: pointer;
}

.sign-in-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-out-button {
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}

.sign-out-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sign-in-title {
    font-size: 20px;
  }

  .sign-in-form {
    padding-top: 5rem;
    background-image: none;
    background-color: var(--primary-color);
  }
}
