.sign-in-form {
  padding-top: 9rem;
  background-image: url(../assets/second-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.sign-in-title {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.email-input,
.password-input {
  width: 300px;
  height: 45px;
  margin: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-left: 12px;
  outline: none;
  border: 4px solid var(--primary-color);
}

.sign-in-button {
  margin: 10px 0 20px 0;
  height: 45px;
  width: 120px;
  border-radius: 25px;
  color: #6b6b6b;
  border: 4px solid var(--primary-color);
  background-color: white;
}

.sign-in-button:hover {
  cursor: pointer;
}

.sign-in-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-btn {
  text-decoration: none;
  text-align: center;
  width: 120px;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 11.5px 0;
  background-color: var(--primary-color);
  border-radius: 25px;
  border: 4px solid #fff;
  color: #6b6b6b;
}

.sign-up-btn:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .sign-in-title {
    font-size: 20px;
  }

  .sign-in-form {
    padding-top: 5rem;
    background-image: none;
    background-color: var(--primary-color);
  }
}
