.sign-up-form {
  padding-top: 4rem;
  background-image: url(../assets/second-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-input,
.password-confirmation-input {
  width: 300px;
  height: 45px;
  margin: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-left: 12px;
  border: 4px solid var(--primary-color);
}

.sign-up-title {
  color: white;
  margin-bottom: 30px;
}

.sign-up-button {
  margin: 10px 0 20px 0;
  background-color: white;
  height: 45px;
  border-radius: 25px;
  color: #6b6b6b;
  border: 4px solid var(--primary-color);
}

.sign-up-button:hover {
  cursor: pointer;
}

.sign-in-btn {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 10px 0;
  background-color: var(--primary-color);
  border-radius: 25px;
  border: 4px solid #fff;
  color: #6b6b6b;
}

.sign-in-btn:hover {
  cursor: pointer;
}

.session-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .sign-up-title {
    font-size: 20px;
    margin: 0 2rem;
  }

  .sign-up-form {
    padding-top: 4rem;
    background-image: url(../assets/second-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
